html{
    background: linear-gradient(#063b3b ,#fff);background-repeat: no-repeat;background-size: cover;
}
#melden{
    background-color: #011414;
    border-style: groove;
    border-radius: 10%;
     width: min-content; 
    height: fit-content; 
    /* display: inline-block; */
    margin-left:30rem ;
    margin-right:30rem ;
    /* margin-left: 550px; */
   /* margin-top: 0px; */
}
form{
    padding: 3rem 7rem;
}
label{
    color: aqua;
    font-size: 1.2rem;
}
p{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}
.form{
    position: relative;
    bottom: 50px;
}
#checkbox{
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
