html{
    background: linear-gradient(#063b3b 50%,#fff 50%);background-repeat: no-repeat;
}
#melden{
    background-color: #011414;
    border-style: groove;
    border-radius: 10%;
     width: min-content; 
    height: fit-content; 
    display: inline-block;
    margin-left: 550px;
   margin-top: 0px;
}
form{
    padding: 5rem 5rem;
}
label{
    color: aqua;
    font-size: large;
}
p{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
}
.form{
    position: relative;
    bottom: 50px;
}
