html{
     background: linear-gradient(#063b3b ,#fff );background-repeat: no-repeat;
}
.box {
    background-color: #011414;
    border-style: groove;
    border-radius: 10%;
    width: min-content;
    height: fit-content;
   /* margin-left: 550px;
    margin-top: 200px; */
    position: relative;
    top: 100px;
    left: 550px;
}
label{
     color:aqua;
}
.input{
     margin-right: 20px;
     margin-bottom: .5rem;
}
p{
     color:aqua;
     margin-right: 20px;
     text-align: center;
  font-size: small;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button{
     margin-left: 8 rem;
     text-align: center;
     margin-top: .5rem;
}
#hier{
     color: aqua;
}
