html{
    background: radial-gradient(rgba(25, 25, 26, 0.85),rgba(32, 32, 32, 0.85)) ,url(./DF.jpg);
   
 }
.Ebücher {
    margin-left: 70rem;
}
nav p{
    margin-left: 33rem;
    margin-top:  10rem;
    font-size
}
header nav {
    margin-left: ;
}