html{
    background: radial-gradient(rgba(25, 25, 26, 0.85),rgba(32, 32, 32, 0.85)) ,url(./DF.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
 }
.Ebücher {  
    
    float: right;
}
nav p{
    margin-left: 20rem;
    margin-top:  10rem;
    font-family: Copperplate Gothic Light; font-size: 36px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 25.2px; } h3 { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px
    
}

#search{
    margin-left:39rem;
    
}
#searchbox {
    background-color: rgb(6, 59, 59);
    width: 100px;
    border-radius: 50px;

}
header nav form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    /* padding: 10px; */
  }
  #section{
    padding-left: 29rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
  }
  body section p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
  }
  .A1{
    background-color: #ffffff;
    width: 7rem;
    height: 5rem;
    /* border-style: dashed; */
    /* background-image: url(./A1.png); */
    border-radius: 20%;
    margin-right: 5rem;
  }
  .A2{
    background-color: #ffffff;
    width: 7rem;
    height: 5rem;
    /* border-style: dashed; */
    border-radius: 20%;
    margin-left: 5rem;
  }
  .A3{
    background-color: #fff;
    width: 7rem;
    height: 5rem;
    /* border-style: dashed; */
  }
  .B1{
    background-color: #ffffff;
    width: 7rem;
    height: 5rem;
    /* border-style: dashed; */
    border-radius: 20%;
    
  }
  .B2{
    border-radius: 20%;
    background-color: #ffffff;
    width: 7rem;
    height: 5rem;
    /* border-style: dashed; */
    margin-left: 10rem;
  }
  #logo{
   box-shadow: rgba( 0 0 40px rgba(0,0,0,.45););
    font-size: 5rem;
    margin-left: 30rem;
    color: rgb(90, 154, 192);
    font-family: Brush Script MT, Brush Script Std, cursive
  }
  footer{
    background-color: #ffffff;
    /* padding-bottom: 8rem; */
  }
  footer a{
    /* font-size: x-large; */
    text-align: end;
    /* margin-top: 35rem; */

  }
  a{
    color: black;
    font-family: "Lucida Handwriting", cursive;
    text-decoration:none;
    /* font-weight: bolder; */
  }
 .A2{
  /* margin-left: 60rem; */
 }
 body section nav{
  margin-left: 
  2rem;
 }
 #begann{
  margin-left: 32rem;
  /* margin-bottom: 50rem; */
  font-size: xx-large;
  padding-bottom: 5rem;
 }
 .A1:hover{
  background-color: aqua;
  color: rgb(0, 0, 0);
  filter: drop-shadow(10PX 10px 10px);
}
.A2:hover:hover{
  color: rgb(0, 0, 0);
  filter: drop-shadow(10PX 10px 10px);
  background-color: aqua;
}
.B1:hover{
  color: rgb(0, 0, 0);
  filter: drop-shadow(10PX 10px 10px);
  background-color: aqua;
}
.B2:hover{
  background-color:aqua;
  color: rgb(0, 0, 0);
  filter: drop-shadow(10PX 10px 10px);
}
.Niveau{
  padding-right: 20rem;
  font-family: Copperplate Gothic Light; font-size: 26px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 25.2px; } h3 { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Copperplate, Copperplate Gothic Light, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px
}
#A {
  float: right;
  display: table;
  font-size: larger
  
}
#B {
  float: left;
  clear: both;
  font-size: larger;
  display: table;
}
.AB{
  padding-left: 6rem;
}